# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment and local settings
.env
.venv
env/
venv/
ENV/
envproject/
config.py

# Downloaded and user-uploaded content
uploads/

# Index files and image assets (if needed)
# Uncomment if you want to ignore these
faiss_index/
# images/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*.ipynb_checkpoints/



# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db